<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <center>
        <h1> JIJJA PRINTING TAGS </h1>
    </center>
    <center>
        <h1 style="color:blue"> this is project7</h1>
        <h2 style="color:chartreuse">{{name}}</h2>
        <h2 style="color:blueviolet">{{age}}</h2>
    </center>
    <


    {%  if age  < 4  %}
        <h1>{{age}}</h1>
        <h1>{{name}}</h1>
    {% else %}
       <center> <h2>  u are not eligible</h2></center>
    {% endif %}
    
</head>
<body>
    
</body>
</html>